{% extends 'base.html'%}

{% block conteudo%}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <h1 class="display-6">Olá {{usuario.nome}}!</h1>
        </div>

        <hr>

        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, aperiam eaque fuga odit cum, nam magnam earum ut similique doloremque ratione ducimus odio dolorem laborum officiis dolorum! Saepe, rerum nesciunt.
        </div>
    </div>
</div>
{% endblock%}